# 這是註解
*.*scc
*.FileListAbsolute.txt
*.aps
*.bak
*.[Cc]ache
*.clw
*.eto
*.exe
*.fb6lck
*.fbl6
*.fbpInf
*.ilk
*.lib
*.log
*.ncb
*.nlb
*.obj
*.patch
*.pch
*.pdb    
*.plg
*.[Pp]ublish.xml
*.rdl.data
*.sbr
*.scc
*.sig
*.sqlsuo
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.trends
*.tmp
*.user
*.vshost.*
*DXCore.Solution
*_i.c
*_p.c
Ankh.Load
Backup*
[Pp]ackages/
CVS/
[Pp]recompiled[Ww]eb/
UpgradeLog*.*
[Bb]uildArtifacts/
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Rr]elease/
[Ss]andcastle/[Dd]ata
[Tt]emp
[Tt]humbs.db
[Tt]est[Rr]esult*
_[Uu]pgradeReport_[Ff]iles
_[Rr]e[Ss]harper.*/
hgignore[.-]*
ignore[.-]*
svnignore[.-]*
lint.db
.DS_Store
[Cc]lientBin/
[Ii]ndex.dat
[Ss]torage.dat
*.sln.docstates
*.dbmdl
 
# 如果你想忽略壓縮檔或一些大檔案
*.7z
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
