<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" 
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, 
                   Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity>   
    <assembly name="Ch07.Common" />    
    <namespace name="Ch07.Common.Contracts" />
    <namespace name="Ch07.Common.Services" />
    
    <container>
      <register name="" type="IMessageService" mapTo="EmailService" />
    </container>
  </unity>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>